* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    font-family: "Helvetica", "Arial", sans-serif;
}

html, body, #map {
    height: 100%;
}

select {
    font-size: 1em;
}

a#filter-button, a#toggle-map-button { 
    text-decoration: none;
    color: #fff;
    background-color: #EB5252;
    border-radius: 3px;
    padding: 10px;
    -webkit-box-shadow: 0 0 5px #222;
    -moz-box-shadow: 0 0 5px #222;
    box-shadow: 0 0 5px #222;
}

#filter-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1010;
    -webkit-box-shadow: 0 0 5px #222;
    -moz-box-shadow: 0 0 5px #222;
    box-shadow: 0 0 5px #222;
}

a#filter-button.on, a#toggle-map-button.on {
    background-color: #38B0DF;
}

#toggle-map-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1001;
}

#filters {
    position: fixed;
    left: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.85);
    width: 100%;
    z-index: 1001;
    padding: 20px 2% 20px;
    overflow: auto;
    border-top: 80px solid #000;
    border-top: 80px solid rgba(0,0,0,.85);
}

h1 { margin-top: 0; }

select { 
    width: 100%; 
    margin-bottom: 1.5em; 
}

label { 
    display: inline-block;
    margin-bottom: .5em; 
}

input[type=checkbox] {
    margin: 0 5px 0 0;
}
